/DevLibrary/DevLibrary/obj/*
/DevLibrary/.vs/DevLibrary/DesignTimeBuild/.dtbcache.v2
/DevLibrary/.vs/DevLibrary/v16/*
/DevLibrary/DevLibrary/bin/*
/DevLibrary/WinFormsLibrary/bin/*
/DevLibrary/WinFormsLibrary/obj/*
